<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>This is the admin panel!</h1>
	<h3 th:text="${userName}"></h3>
	
	<a href="/logout">Logout</a>
	<br>
	<br>
	<br>
	<br>
	<h1>This is the footer</h1>
</body>
</html>